# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#STM32
*.__i
*.axf
*.Bak
*.htm
*.crf
*.d
*.hex
*.lnp
*.tra
*.sct